.home-header {
    margin: 20px 0;
}

.chart-container {
    display: flex;
    justify-content: center;
}

.stock-search-container {
    display: flex;
    justify-content: center;

}

.search-stock {
    width: 50%;
}

.company-stock-quote {
    display: flex;
    justify-content: center;
    margin: 20px;
}