.login-header {
    margin: 20px 0;
}

.login-form-container {
    display: flex;
    justify-content: center;
}

.login-form {
    text-align: justify;
}

.login-form button {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.login-form-card {
    width: 80%;
    max-width: 300px;
}
